<template>
  <div>
      <v-container>
          <v-row>
              <v-col
                sm="10"
                offset-sm="1"
                lg="8"
                offset-lg="2"
              >
                <h1>
                    {{ title }}
                    <v-btn to="all-news" color="primary" small text>
                       View All
                    </v-btn>
                </h1>
              </v-col>
          </v-row>
          <v-row>
              <v-col
                sm="10"
                offset-sm="1"
                lg="8"
                offset-lg="2"
              >
                <v-row>
                    <v-col
                        v-for="row in data"
                        :key="row.id"
                        sm="6"
                        md="4"
                    >
                        <v-card
                            outlined
                        >
                            <NuxtLink :to="'news/' + row.id">
                                <v-img
                                    :src="row.imageUrl"
                                    :alt="row.title"
                                    height="200px"
                                />
                            </NuxtLink>
                            <NuxtLink :to="'news/' + row.id">
                                <v-card-title>{{ row.title }}</v-card-title>
                            </NuxtLink>
                            <v-card-subtitle>{{ row.summary }}</v-card-subtitle>
                            <v-card-actions>
                                <v-btn
                                    color="success" outlined
                                    :to="'news/' + row.id"
                                >
                                <v-icon left>mdi-magnify</v-icon> Read More
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-col>
                </v-row>
              </v-col>
          </v-row>
      </v-container>
  </div>
</template>

<script>

export default {
    props: ['title', 'data'],
}
</script>

<style>

</style>
