<template>
  <v-sheet
    :height="sheetHeight"
  >
    <v-container class="fill-height">
        <v-row
            align="center"
            justify="center"
        >
            <h1 class="text-center display-1">{{ title }}</h1>
        </v-row>
    </v-container>
  </v-sheet>
</template>

<script>
export default {
    props: ['title'],
    computed: {
        sheetHeight() {
            switch (this.$vuetify.breakpoint.name) {
                case 'sx':
                    return '200px'
                    break;
                case 'sm':
                    return '300px'
                    break;
                case 'md':
                    return '300px'
                    break;
                case 'lg':
                    return '300px'
                    break;
                case 'xl':
                    return '350px'
                    break;
                default:
                    break;
            }
            return '300px'
        }
    }
}
</script>

<style>

</style>
