<template>
  <div>
      <v-container>
          <v-row>
              <v-col
                sm="10"
                offset-sm="1"
                lg="8"
                offset-lg="2"
              >
                <h1>
                    <v-btn to="/news" color="primary" small text>
                       Back
                    </v-btn>
                </h1>
              </v-col>
          </v-row>
          <v-row>
              <v-col
                sm="10"
                offset-sm="1"
                lg="8"
                offset-lg="2"
              >
                <v-row>
                    <v-col
                        lg="12"
                    >
                        <v-card
                            outlined
                        >
                            <v-img
                                :src="data.imageUrl"
                                :alt="data.title"
                                height="300px"
                            />
                            <v-card-title>{{ data.title }}</v-card-title>
                            <v-card-subtitle>{{ data.summary }}</v-card-subtitle>
                        </v-card>
                    </v-col>
                </v-row>
              </v-col>
          </v-row>
      </v-container>
  </div>
</template>

<script>

export default {
    props: ['data'],
}
</script>

<style>

</style>
