<template>
    <div>
        <AppSingleContent :data="data" />
    </div>
</template>

<script>
import AppSingleContent from '../../components/News/AppSingleContent'
import { mapState, mapGetters, mapActions, mapMutations } from 'Vuex';

export default {
    data() {
        return {
            id: this.$route.params.id
        }
    },
    components: {
        AppSingleContent,
    },
    head() {
        return {
            title: this.data.title,
            meta: [
                {
                    hid: 'description',
                    name: 'description',
                    content: 'Best Place For Find The News',
                }
            ]
        }
    },
    mounted() {
        this.fetchData();
    },
    computed: {
        ...mapGetters({
            data: 'getAllData'
        })
    },
    methods: {
        fetchData() {
            this.$store.dispatch('fetchDataById', this.id)
        }
    }
}
</script>

<style>

</style>
