<template>
    <div>
        <AppHeader title="News"/>
        <AppContent title="News" :data="data" />
    </div>
</template>

<script>
import AppHeader from '../../components/News/AppHeader'
import AppContent from '../../components/News/AppContent'
import { mapState, mapGetters, mapActions, mapMutations } from 'Vuex';

export default {
    components: {
        AppHeader,
        AppContent,
    },
    head() {
        return {
            title: 'The News',
            meta: [
                {
                    hid: 'description',
                    name: 'description',
                    content: 'Best Place For Find The News',
                }
            ]
        }
    },
    mounted() {
        this.fetchData();
    },
    computed: {
        ...mapGetters({
            data: 'getAllData'
        })
    },
    methods: {
        fetchData() {
            this.$store.dispatch('fetchData')
        }
    }
}
</script>

<style>

</style>
